<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L채gg till kurser</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Startsida</a></li>
                <li><a href="/about">Om</a></li>
                <li><a href="/add"  class="current">L채gg till kurs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>L채gg till kurs</h1>
        <div class="form-container">
            <form id="courseForm" method="post" action="/add">
                <label for="code">Kurskod:</label>
                <input type="text" id="code" name="code" required>
                
                <label for="name">Kursnamn:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="progression">Progression:</label>
                <select id="progression" name="progression">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
                
                <label for="syllabus">Kursplan (URL):</label>
                <input type="url" id="syllabus" name="syllabus" required>
                
                <button type="submit">L채gg till kurs</button>
                <% if (typeof error !== 'undefined') { %>
                    <p class="error"><%= error %></p>
                <% } %>
            </form>
        </div>
    </main>
    <footer>
        <p>Alexander Hilding</p>
    </footer>
</body>
</html>