<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till kurser</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Lägg till kurser</h1>
</body>
</html>