<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurser</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="current">Startsida</a></li>
                <li><a href="/about">Om</a></li>
                <li><a href="/add">Lägg till kurser</a></li>
            </ul>
        </nav>
    </header>
    <h1>Visa kurser</h1>
</body>
</html>